<ion-view name="overview-page" view-title="ToNow - Today" class="overview-page">
  <ion-content scroll="false">
    <!-- <ion-slide-box>
        <ion-slide ng-repeat="card in cards">
          <div class="list card current-day" ng-class="{past: past == true, future: past == false}" ng-show="!hide">

            <div class="title">
              <h3>{{ card.title }}</h3>
            </div>

            <div class="item content">
              <ion-list>
                <ion-item ng-repeat="task in card.tasks">
                  <ion-checkbox ng-checked="task.state == 1" ng-disabled="true">{{task.text}}</ion-checkbox>
                </ion-item>
              </ion-list>
            </div>

          </div>
        </ion-slide>

    </ion-slide-box> -->
    <ks-swiper-container
      initial-slide="1"
      speed="2000"
      loop="false"
      show-nav-buttons="true"
      slides-per-view="1"
      space-between="5"
      pagination-clickable="false"
      override-parameters="{effect: 'coverflow',coverflow: {rotate: 50,stretch: 0,depth: 100,modifier: 1,slideShadows : false}}">
      <ks-swiper-slide class="swiper-slide" ng-repeat="card in cards">
        <div class="list card current-day" ng-class="{past: past == true, future: past == false}" ng-show="!hide" ng-click="addTask()">

          <div class="title">
            <h3>{{ card.title }}</h3>
          </div>

          <div class="item content">
            <ion-list>
              <ion-item ng-repeat="task in card.tasks">
                <ion-checkbox ng-checked="task.state == 1" ng-disabled="true">{{task.text}}</ion-checkbox>
              </ion-item>
            </ion-list>
          </div>

        </div>
      </ks-swiper-slide>
    </ks-swiper-container>
  </ion-content>
</ion-view>
    <div class="bar bar-footer">
      <div class="title button button-clear button-dark icon ion-plus-circled"></div>
      <div class="button button-clear button-dark icon ion-ios-search-strong"></div>
    </div>
